Repository picpicb/cloudito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, deploy_back, build:develop, test:unit, test:functional, package:develop

maven-build:
  image: maven:3-jdk-8
  stage: build-back
  script: mvn package $MAVEN_CLI_OPTS -B -f ./cloudito-rest-api/pom.xml -P prod
  artifacts:
    paths:
    - cloudito-rest-api/geolocation/target/*.jar
    - cloudito-rest-api/notification/target/*.jar

deploy_back:
  image: docker:18-dind
  stage: deploy-back
  services:
  - name: docker:18-dind
    command:
    - --insecure-registry=http://cloudito.gitlab.com:4567
  script:
  - docker build -t cloudito.gitlab.com:4567/cloudito/cloudito/cloudito-rest-api-geolocation ./cloudito-rest-api/geolocation
  ...

build:develop:
  image: jangrewe/gitlab-ci-android
  stage: build
  artifacts:
    expire_in: 4 hours
    paths:
    - cloudito-android/app/build/outputs/
  script:
  - cd cloudito-android/
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  - chmod +x ./gradlew
  - apt-get update -y && apt-get install wget -y
  - ./gradlew assembleDebug
  ...

test:unit:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - cd cloudito-android/
  - ./gradlew test

test:functional:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - echo "functional test"

package:develop:
  image: jangrewe/gitlab-ci-android
  before_script:
  - cd cloudito-android/
  - export VERSION_NAME=`egrep '^[[:blank:]]+versionName[[:blank:]]'  app/build.gradle | awk '{print $2}' | sed s/\"//g`
  - mkdir -p exported
  stage: package
  environment: Development
  script:
  ...

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Build Release
  cloudito-rest-api/authentication/pom.xml
  cloudito-rest-api/course/pom.xml
  cloudito-rest-api/geolocation/pom.xml
  cloudito-rest-api/model/pom.xml
  cloudito-rest-api/notification/pom.xml
  cloudito-rest-api/persistence/pom.xml
  cloudito-rest-api/pom.xml
Due: maven-build, deploy_back

cloudito-rest-api/mappingService/test/testMapService.js
  cloudito-rest-api/mappingService/test/testMapService.js
Due: maven-build, deploy_back

test
  cloudito-android/app/build.gradle
  cloudito-android/gitlabKeystore.pkcs
  cloudito-android/gradle.properties
Due: build:develop, test:unit, test:functional, package:develop

test
  cloudito-android/app/build.gradle
  cloudito-android/gradle.properties
Due: build:develop, test:unit, test:functional, package:develop

test
  cloudito-android/app/gitlabKeystore.pkcs
Due: build:develop, test:unit, test:functional, package:develop

resolv graph loop
  cloudito-android/gitlabKeystore.pkcs
  cloudito-rest-api/mappingService/routes/index.js
  cloudito-rest-api/mappingService/service/mapService.js
Due: maven-build, deploy_back, build:develop, test:unit, test:functional, package:develop

omg error
  cloudito-rest-api/mappingService/package-lock.json
  cloudito-rest-api/mappingService/package.json
Due: maven-build, deploy_back

start android
  cloudito-android/app/build.gradle
  cloudito-android/build.gradle
Due: build:develop, test:unit, test:functional, package:develop

remove id
  cloudito-android/app/src/main/res/navigation/mobile_navigation.xml
  cloudito-rest-api/mappingService/routes/index.js
  cloudito-rest-api/mappingService/service/mapService.js
Due: maven-build, deploy_back, build:develop, test:unit, test:functional, package:develop

perfectionnement pour le MAP
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: build:develop, test:unit, test:functional, package:develop

3D map
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: build:develop, test:unit, test:functional, package:develop

3D mp with gestures
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
Due: build:develop, test:unit, test:functional, package:develop

improve map view
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/CourseService/CourseInterface/CourseRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map3D.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/MapInterface.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope3/Scope3Fragment.java
  cloudito-android/app/src/main/res/layout/fragment_scope_3.xml
Due: build:develop, test:unit, test:functional, package:develop

fiz zoom in map
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map3D.java
Due: build:develop, test:unit, test:functional, package:develop

add external methods
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map3D.java
  cloudito-android/app/src/main/res/drawable/userlocation.xml
Due: build:develop, test:unit, test:functional, package:develop

test image tag
  .gitlab-ci.yml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map3D.java
Due: build:develop, test:unit, test:functional, package:develop

test image tag android
  .gitlab-ci.yml
Due: none

test image tag with SHA
  .gitlab-ci.yml
Due: none

test image tag with SHORT SHA
  .gitlab-ci.yml
Due: none

round corner for path userlocation image
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map3D.java
  cloudito-android/app/src/main/res/drawable/userlocation.xml
Due: build:develop, test:unit, test:functional, package:develop

test compass
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map3D.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4Fragment.java
Due: build:develop, test:unit, test:functional, package:develop

ADD : Actuator & Prometheus endpoints for api monitoring
  cloudito-rest-api/geolocation/pom.xml
  cloudito-rest-api/geolocation/src/main/resources/application.properties
Due: maven-build, deploy_back

test promclient
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/components/Map3D.java
  cloudito-rest-api/mappingService/app.js
  cloudito-rest-api/mappingService/package-lock.json
  cloudito-rest-api/mappingService/package.json
  cloudito-rest-api/mappingService/routes/index.js
  cloudito-rest-api/mappingService/service/metrics.js
Due: maven-build, deploy_back, build:develop, test:unit, test:functional, package:develop

Project Structure preparation
  cloudito-rest-api/authentication/Dockerfile
  cloudito-rest-api/authentication/pom.xml
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/AuthenticationApplication.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/ClouditoAuthenticationService.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/ServletInitializer.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/configuration/SwaggerConfigurationAuth.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/controllers/AuthenticationController.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/controllers/SwaggerController.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/services/AuthenticationService.java
  cloudito-rest-api/authentication/src/main/resources/application.properties
Due: maven-build, deploy_back

Create Authentication Servie
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/AuthenticationService/AuthenticationAndroidService.java
Due: build:develop, test:unit, test:functional, package:develop

added diagramms
  diagrams/Authentification/Diagramme de Séquence.JPG
  diagrams/Authentification/Diagrammes de séquences.mdj
Due: none

Writing : Testing double auth with GoogleAuthenticator;
  cloudito-rest-api/authentication/pom.xml
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/controllers/AuthenticationController.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/entities/TOTP.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/services/AuthenticationService.java
  diagrams/Authentification/Diagrammes de séquences.mdj
Due: maven-build, deploy_back

diagramme de déploiement
  diagrams/Authentification/Diagramme de déploiement.png
Due: none

add EncryptionClass & EncryptionTest successfull
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/EncryptionClass.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/EncryptionInterface.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/EncryptionTest.java
Due: maven-build, deploy_back

diag composants v2
  diagrams/Authentification/diag_composants_MFA_v2.JPG
Due: none

Path conditions:
  maven-build: any of: cloudito-rest-api/**/*
  deploy_back: any of: cloudito-rest-api/**/*
  build:develop: any of: cloudito-android/**/*
  test:unit: any of: cloudito-android/**/*
  test:functional: any of: cloudito-android/**/*
  package:develop: any of: cloudito-android/**/*
