Repository picpicb/cloudito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, deploy_back, android-build:develop, android-test:unit, android-test:functional, android-package:develop, android-package:release:unsigned

Path conditions:
  maven-build: any of: ClouditoService/**/*
  deploy_back: any of: ClouditoService/**/*
  android-build:develop: any of: cloudito-android/**/*
  android-test:unit: any of: cloudito-android/**/*
  android-test:functional: any of: cloudito-android/**/*
  android-package:develop: any of: cloudito-android/**/*
  android-package:release:unsigned: any of: cloudito-android/**/*

improve validatevideoformat + TU
  cloudito-iot/main/util/ValidateVideoFormat.py
  cloudito-iot/test/FaceDetectionServiceTest.py
Due: none

Protection BruteForce (min) TODO : log all previous falseloging
  ClouditoService/Cloudito_authentication/src/main/java/esipe/fr/cloudito_authentication/controllers/AuthenticationController.java
Due: maven-build, deploy_back

changement TAG log to Authentication Log
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentication/GoogleAuthFragment.java
Due: android-build:develop, android-test:unit, android-test:functional, android-package:develop, android-package:release:unsigned

fix bug (validatevideoformat)
  cloudito-iot/main/util/ValidateVideoFormat.py
Due: none

[Python TU minor fix] -> Fix minor bug of a TU
  cloudito-iot/test/FaceDetectionServiceTest.py
Due: none

CLEAN + Python UT
  cloudito-recognition-daemon/__pycache__/recognition.cpython-37.pyc
  cloudito-recognition-daemon/__pycache__/recognitiondaemon.cpython-37.pyc
  cloudito-recognition-daemon/daemonconf/__pycache__/configuration.cpython-37.pyc
  cloudito-recognition-daemon/database/__pycache__/database.cpython-37.pyc
  cloudito-recognition-daemon/pushtest.py
  cloudito-recognition-daemon/recognizer/__init__.py
  cloudito-recognition-daemon/recognizer/recognizer.py
  cloudito-recognition-daemon/test-data/bebe.json
  cloudito-recognition-daemon/test-data/chirac.json
  cloudito-recognition-daemon/test-data/convert_face.py
  cloudito-recognition-daemon/test-data/kim.json
  cloudito-recognition-daemon/test-data/kim_kardashian.jpg
  cloudito-recognition-daemon/test-data/kim_kardashian.json
  cloudito-recognition-daemon/test-data/macron.jpg
  cloudito-recognition-daemon/test-data/macron.json
  cloudito-recognition-daemon/test-data/merkel.jpg
  cloudito-recognition-daemon/test-data/merkel.json
  cloudito-recognition-daemon/test-data/opencv-files/haarcascade_frontalface_alt.xml
  cloudito-recognition-daemon/test-data/opencv-files/haarcascade_frontalface_default.xml
  cloudito-recognition-daemon/test-data/opencv-files/lbpcascade_frontalface.xml
  cloudito-recognition-daemon/test-data/opencv-files/lbpcascade_frontalface_improved.xml
  cloudito-recognition-daemon/tests.py
Due: none

Revert "CLEAN + Python UT"
  cloudito-recognition-daemon/__pycache__/recognition.cpython-37.pyc
  cloudito-recognition-daemon/__pycache__/recognitiondaemon.cpython-37.pyc
  cloudito-recognition-daemon/daemonconf/__pycache__/configuration.cpython-37.pyc
  cloudito-recognition-daemon/database/__pycache__/database.cpython-37.pyc
  cloudito-recognition-daemon/pushtest.py
  cloudito-recognition-daemon/recognizer/__init__.py
  cloudito-recognition-daemon/recognizer/recognizer.py
  cloudito-recognition-daemon/test-data/bebe.json
  cloudito-recognition-daemon/test-data/chirac.json
  cloudito-recognition-daemon/test-data/convert_face.py
  cloudito-recognition-daemon/test-data/kim.json
  cloudito-recognition-daemon/test-data/kim_kardashian.jpg
  cloudito-recognition-daemon/test-data/kim_kardashian.json
  cloudito-recognition-daemon/test-data/macron.jpg
  cloudito-recognition-daemon/test-data/macron.json
  cloudito-recognition-daemon/test-data/merkel.jpg
  cloudito-recognition-daemon/test-data/merkel.json
  cloudito-recognition-daemon/test-data/opencv-files/haarcascade_frontalface_alt.xml
  cloudito-recognition-daemon/test-data/opencv-files/haarcascade_frontalface_default.xml
  cloudito-recognition-daemon/test-data/opencv-files/lbpcascade_frontalface.xml
  cloudito-recognition-daemon/test-data/opencv-files/lbpcascade_frontalface_improved.xml
  cloudito-recognition-daemon/tests.py
Due: none

Revert "Revert "CLEAN + Python UT""
  cloudito-recognition-daemon/__pycache__/recognition.cpython-37.pyc
  cloudito-recognition-daemon/__pycache__/recognitiondaemon.cpython-37.pyc
  cloudito-recognition-daemon/daemonconf/__pycache__/configuration.cpython-37.pyc
  cloudito-recognition-daemon/database/__pycache__/database.cpython-37.pyc
  cloudito-recognition-daemon/pushtest.py
  cloudito-recognition-daemon/recognizer/__init__.py
  cloudito-recognition-daemon/recognizer/recognizer.py
  cloudito-recognition-daemon/test-data/bebe.json
  cloudito-recognition-daemon/test-data/chirac.json
  cloudito-recognition-daemon/test-data/convert_face.py
  cloudito-recognition-daemon/test-data/kim.json
  cloudito-recognition-daemon/test-data/kim_kardashian.jpg
  cloudito-recognition-daemon/test-data/kim_kardashian.json
  cloudito-recognition-daemon/test-data/macron.jpg
  cloudito-recognition-daemon/test-data/macron.json
  cloudito-recognition-daemon/test-data/merkel.jpg
  cloudito-recognition-daemon/test-data/merkel.json
  cloudito-recognition-daemon/test-data/opencv-files/haarcascade_frontalface_alt.xml
  cloudito-recognition-daemon/test-data/opencv-files/haarcascade_frontalface_default.xml
  cloudito-recognition-daemon/test-data/opencv-files/lbpcascade_frontalface.xml
  cloudito-recognition-daemon/test-data/opencv-files/lbpcascade_frontalface_improved.xml
  cloudito-recognition-daemon/tests.py
Due: none

RELEASE - TODO : SSL + BruteForce Protect
  ClouditoService/Cloudito_authentication/pom.xml
Due: maven-build, deploy_back

Convert Vault
  ClouditoService/Cloudito_model/src/main/java/esipe/fr/cloudito_model/Customer.java
Due: maven-build, deploy_back

Test for Vault
  ClouditoService/Cloudito_encryption/pom.xml
  ClouditoService/Cloudito_encryption/src/main/resources/application.properties
  ClouditoService/Cloudito_encryption/src/test/java/EncryptionSupportTest.java
  ClouditoService/Cloudito_geolocation/pom.xml
Due: maven-build, deploy_back

Correction
  ClouditoService/Cloudito_model/src/main/java/esipe/fr/cloudito_model/Customer.java
Due: maven-build, deploy_back

Test for Vault
  ClouditoService/Cloudito_encryption/src/test/java/EncryptionSupportTest.java
Due: maven-build, deploy_back

correction vault
  ClouditoService/Cloudito_model/src/main/java/esipe/fr/cloudito_model/Customer.java
Due: maven-build, deploy_back

deploy new lib
  cloudito-recognition-daemon/requirements.txt
Due: none

try new opencv lib
  cloudito-recognition-daemon/Dockerfile
  cloudito-recognition-daemon/requirements.txt
Due: none

pomxml for prod env
  ClouditoService/Cloudito_encryption/pom.xml
Due: maven-build, deploy_back

Update application.yml
  cloudito-recognition-daemon/application.yml
Due: none

Clean application.yml
  cloudito-recognition-daemon/__pycache__/recognitiondaemon.cpython-37.pyc
  cloudito-recognition-daemon/application.yml
  cloudito-recognition-daemon/daemonconf/__pycache__/__init__.cpython-37.pyc
  cloudito-recognition-daemon/daemonconf/__pycache__/configuration.cpython-37.pyc
  cloudito-recognition-daemon/daemonconf/configuration.py
  cloudito-recognition-daemon/database/__pycache__/__init__.cpython-37.pyc
  cloudito-recognition-daemon/database/__pycache__/database.cpython-37.pyc
Due: none

Correction lien vault
  ClouditoService/Cloudito_authentication/pom.xml
  ClouditoService/Cloudito_model/src/main/java/esipe/fr/cloudito_model/Customer.java
Due: maven-build, deploy_back

Test correction
  ClouditoService/Cloudito_authentication/pom.xml
Due: maven-build, deploy_back

pomxml for prod env
  ClouditoService/Cloudito_authentication/pom.xml
  ClouditoService/Cloudito_encryption/pom.xml
Due: maven-build, deploy_back

add logging refresh cacheDB
  cloudito-recognition-daemon/database/database.py
Due: none

Update database.py
  cloudito-recognition-daemon/database/database.py
Due: none

Correction pom
  ClouditoService/Cloudito_encryption/pom.xml
Due: maven-build, deploy_back

Update README.md
  README.md
Due: none

Implements model & persistence for integration test purpose
  ClouditoService/Cloudito_encryption/pom.xml
  ClouditoService/Cloudito_encryption/src/main/java/esipe/fr/cloudito_encryption/model/Coordinate.java
  ClouditoService/Cloudito_encryption/src/main/java/esipe/fr/cloudito_encryption/persistence/CoordinateRepository.java
  ClouditoService/Cloudito_encryption/src/main/java/esipe/fr/cloudito_encryption/persistence/CoordinateRowMapper.java
  ClouditoService/Cloudito_encryption/src/main/resources/application.properties
  ClouditoService/Cloudito_encryption/src/test/java/EncryptionSupportTest.java
Due: maven-build, deploy_back

pomxml without build setting
  ClouditoService/Cloudito_encryption/pom.xml
Due: maven-build, deploy_back

fix maven cycling dependency
  ClouditoService/Cloudito_encryption/src/test/java/EncryptionSupportTest.java
Due: maven-build, deploy_back

test tag
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update EncryptionSupportTest.java
  ClouditoService/Cloudito_encryption/src/test/java/EncryptionSupportTest.java
Due: maven-build, deploy_back
