Repository picpicb/cloudito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, deploy_back, build:develop, test:unit, test:functional, package:develop

maven-build:
  image: maven:3-jdk-8
  stage: build-back
  script: mvn package $MAVEN_CLI_OPTS -B -f ./cloudito-rest-api/pom.xml -P prod
  artifacts:
    paths:
    - cloudito-rest-api/geolocation/target/*.jar
    - cloudito-rest-api/notification/target/*.jar

deploy_back:
  image: docker:18-dind
  stage: deploy-back
  services:
  - name: docker:18-dind
    command:
    - --insecure-registry=http://cloudito.gitlab.com:4567
  script:
  - docker build -t cloudito.gitlab.com:4567/cloudito/cloudito/cloudito-rest-api-geolocation ./cloudito-rest-api/geolocation
  ...

build:develop:
  image: jangrewe/gitlab-ci-android
  stage: build
  artifacts:
    expire_in: 4 hours
    paths:
    - cloudito-android/app/build/outputs/
  script:
  - cd cloudito-android/
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  - chmod +x ./gradlew
  - apt-get update -y && apt-get install wget -y
  - ./gradlew assembleDebug
  ...

test:unit:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - cd cloudito-android/
  - ./gradlew test

test:functional:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - echo "functional test"

package:develop:
  image: jangrewe/gitlab-ci-android
  before_script:
  - cd cloudito-android/
  - export VERSION_NAME=`egrep '^[[:blank:]]+versionName[[:blank:]]'  app/build.gradle | awk '{print $2}' | sed s/\"//g`
  - mkdir -p exported
  stage: package
  environment: Development
  script:
  ...

test vault connexion : OK test with Sevice Geolocation
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/EncryptionClass.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/EncryptionTest.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/model/AttributeEncryptor.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/service/Encryption.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
Due: maven-build, deploy_back

test vault connexion : OK test with Sevice Geolocation
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/EncryptionTest.java
Due: maven-build, deploy_back

Add UsrId in response of first authent
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/controllers/AuthenticationController.java
  cloudito-rest-api/authentication/src/test/java/AuthenticationServiceTest.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/AuthStatus.java
Due: maven-build, deploy_back

test vault connexion : OK test with Sevice Geolocation
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/Customer.java
Due: maven-build, deploy_back

test vault connexion : OK test with Sevice Geolocation erreur build
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/ClouditoGeolocationService.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/AccessPointController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
Due: maven-build, deploy_back

Correct android manifest
  cloudito-android/app/src/main/AndroidManifest.xml
Due: build:develop, test:unit, test:functional, package:develop

Fragment for Google Authentificator
  cloudito-android/app/src/main/AndroidManifest.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/AuthentificationFragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/GoogleAuthFragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/SecondActivity.java
  cloudito-android/app/src/main/res/layout/activity_google_auth.xml
  cloudito-android/app/src/main/res/layout/activity_second.xml
Due: build:develop, test:unit, test:functional, package:develop

add unit test for encryption & decryption
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/EncryptionClass.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/service/Encryption.java
  cloudito-rest-api/encryption/src/test/java/EncryptionTest.java
Due: maven-build, deploy_back

password length limited to 6 characters for GoogleAuthentificatorFragment
  cloudito-android/app/src/main/res/layout/activity_google_auth.xml
Due: build:develop, test:unit, test:functional, package:develop

implementation biometric authentication
  cloudito-android/app/build.gradle
  cloudito-android/app/src/main/AndroidManifest.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/BiometricActivity.java
  cloudito-android/app/src/main/res/layout/activity_biometric.xml
Due: build:develop, test:unit, test:functional, package:develop

update credentials
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Credentials.java
Due: build:develop, test:unit, test:functional, package:develop

Prepare registration
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/controllers/AuthenticationController.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/services/AuthenticationService.java
  cloudito-rest-api/authentication/src/test/java/AuthenticationServiceTest.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/Credentials.java
Due: maven-build, deploy_back

Use env var for config vault connection
  cloudito-rest-api/geolocation/pom.xml
  cloudito-rest-api/geolocation/src/main/resources/application.properties
  cloudito-rest-api/model/pom.xml
  cloudito-rest-api/recognition/pom.xml
  cloudito-rest-api/recognition/src/main/resources/application.properties
Due: maven-build, deploy_back

V0.0.1 - implementation of biometric authentication in authenticator fragment
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/GoogleAuthFragment.java
Due: build:develop, test:unit, test:functional, package:develop

Comment on Properties to prepare deployement
  cloudito-rest-api/authentication/src/main/resources/application.properties
Due: maven-build, deploy_back

V0.0.2 - Biometric authentication - Redirection when OK
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/GoogleAuthFragment.java
Due: build:develop, test:unit, test:functional, package:develop

Correct port
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/AuthenticationService/AuthenticationInterface/AuthenticationRetrofitController.java
Due: build:develop, test:unit, test:functional, package:develop

Début TU
  cloudito-iot/UnitTest.py
Due: none

Starting TU for RecognitionService
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/services/RecognitionService.java
  cloudito-rest-api/recognition/src/test/java/RecognitionServiceTest.java
Due: maven-build, deploy_back

Delete diag_composants_MFA_v3.JPG
  diagrams/Authentification/diag_composants_MFA_v3.JPG
Due: none

Delete diag_composants_MFA_v2.JPG
  diagrams/Authentification/diag_composants_MFA_v2.JPG
Due: none

Diagramms
  diagrams/Authentification/Diagrammes de séquences.mdj
  diagrams/Authentification/diag_sequence_MFA_authentification.JPG
  diagrams/Authentification/diag_sequence_MFA_inscription.JPG
  diagrams/Authentification/diag_sequence_MFA_inscription_v2.JPG
  diagrams/Authentification/diag_sequence_MFA_v2.JPG
Due: none

diag_composants_MFA
  diagrams/Authentification/diag_composants_MFA.JPG
Due: none

Fix TU activation
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/services/RecognitionService.java
  cloudito-rest-api/recognition/src/test/java/RecognitionServiceTest.java
Due: maven-build, deploy_back

Add SWAGGER
  cloudito-rest-api/authentication/src/main/resources/swagger.yml
Due: maven-build, deploy_back

diag
  diagrams/Encryption/encrypt_decrypt.PNG
  diagrams/all/DeploymentDiagram.svg
  diagrams/all/composants.PNG
Due: none

Add Daemon cache
  cloudito-rest-api/recognition/recognition_daemon/__pycache__/recognition.cpython-37.pyc
  cloudito-rest-api/recognition/recognition_daemon/convert_face.py
  cloudito-rest-api/recognition/recognition_daemon/core_daemon.py
  cloudito-rest-api/recognition/recognition_daemon/logging.conf
  cloudito-rest-api/recognition/recognition_daemon/recognition.proto
  cloudito-rest-api/recognition/recognition_daemon/recognition.py
  cloudito-rest-api/recognition/recognition_daemon/sample2.npy
  cloudito-rest-api/recognition/recognition_daemon/tmp
  cloudito-rest-api/recognition/recognition_daemon/toto.npy
Due: maven-build, deploy_back

Const in Test
  cloudito-rest-api/authentication/src/test/java/AuthenticationServiceTest.java
Due: maven-build, deploy_back

refactor class name
  cloudito-iot/UnitTest.py
Due: none

Replace diag_composants_MFA.JPG
  diagrams/Authentification/diag_composants_MFA.JPG
Due: none

changement ordre activity - googleAuth 1er
  cloudito-android/app/src/main/AndroidManifest.xml
Due: build:develop, test:unit, test:functional, package:develop

changement diagramme deploiment
  diagrams/Authentification/Diagramme de deploiement.png
  diagrams/Authentification/Diagramme de deploiement_V2.png
  diagrams/Authentification/Diagramme de déploiement.png
Due: none

refactor Encryption part
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/EncryptionSupport.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/VaultConnexion.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/model/AttributeEncryptor.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/service/Cloudito_encryption.java
  cloudito-rest-api/encryption/src/test/java/EncryptionSupportTest.java
Due: maven-build, deploy_back

refactor model --> cloudito_model
  cloudito-rest-api/cloudito_model/pom.xml
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/AccessPoint.java
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/Customer.java
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/CustomerLocation.java
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/ErrorDefinition.java
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/ErrorDefinitionErrors.java
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/InfoTerminal.java
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/Location.java
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/MapView.java
  cloudito-rest-api/cloudito_model/src/main/java/esipe/fr/cloudito_model/Store.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/AccessPointController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/GeolocationController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/RestExceptionController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/AccessPointService.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/AccessPointRepository.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/CustomerLocationRepository.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/CustomerRepository.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/InfoTerminalRepository.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/LocationRepository.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/MapViewRepository.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/StoreRepository.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/controllers/RecognitionController.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/controllers/RestExceptionController.java
Due: maven-build, deploy_back

Refactoring code
  cloudito-iot/service/FaceDetectionService.py
  cloudito-iot/test/FaceDetectionServiceTest.py
  cloudito-iot/util/NumpyArrayEncoder.py
Due: none

getAesKey() fixed;
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/service/Cloudito_encryption.java
Due: maven-build, deploy_back

remove file + refactor project structure
  cloudito-iot/UnitTest.py
  cloudito-iot/test/FaceDetectionServiceTest.py
Due: none

Adding RegisterActivity with credentials
  cloudito-android/app/build.gradle
  cloudito-android/app/src/main/AndroidManifest.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/RegisterActivity.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4Fragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4ViewModel.java
  cloudito-android/app/src/main/res/layout/activity_register.xml
  cloudito-android/app/src/main/res/values/strings.xml
Due: build:develop, test:unit, test:functional, package:develop

Adding RegisterActivity with credentials
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4Fragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope4/Scope4ViewModel.java
Due: build:develop, test:unit, test:functional, package:develop

Path conditions:
  maven-build: any of: cloudito-rest-api/**/*
  deploy_back: any of: cloudito-rest-api/**/*
  build:develop: any of: cloudito-android/**/*
  test:unit: any of: cloudito-android/**/*
  test:functional: any of: cloudito-android/**/*
  package:develop: any of: cloudito-android/**/*
