Repository picpicb/cloudito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, deploy_back, build:develop, test:unit, test:functional, package:develop

maven-build:
  image: maven:3-jdk-8
  stage: build-back
  script: mvn package $MAVEN_CLI_OPTS -B -f ./cloudito-rest-api/pom.xml -P prod
  artifacts:
    paths:
    - cloudito-rest-api/geolocation/target/*.jar
    - cloudito-rest-api/notification/target/*.jar

deploy_back:
  image: docker:18-dind
  stage: deploy-back
  services:
  - name: docker:18-dind
    command:
    - --insecure-registry=http://cloudito.gitlab.com:4567
  script:
  - docker build -t cloudito.gitlab.com:4567/cloudito/cloudito/cloudito-rest-api-geolocation ./cloudito-rest-api/geolocation
  ...

build:develop:
  image: jangrewe/gitlab-ci-android
  stage: build
  artifacts:
    expire_in: 4 hours
    paths:
    - cloudito-android/app/build/outputs/
  script:
  - cd cloudito-android/
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  - chmod +x ./gradlew
  - apt-get update -y && apt-get install wget -y
  - ./gradlew assembleDebug
  ...

test:unit:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - cd cloudito-android/
  - ./gradlew test

test:functional:
  image: jangrewe/gitlab-ci-android
  stage: test
  script:
  - echo "functional test"

package:develop:
  image: jangrewe/gitlab-ci-android
  before_script:
  - cd cloudito-android/
  - export VERSION_NAME=`egrep '^[[:blank:]]+versionName[[:blank:]]'  app/build.gradle | awk '{print $2}' | sed s/\"//g`
  - mkdir -p exported
  stage: package
  environment: Development
  script:
  ...

diagrams
  diagrams/Encryption/debut.png
Due: none

first seq diagram for recognition module
  diagrams/recognition/recognition_seq_diagram.jpg
Due: none

Update CI, prevent deploying from recognition branch
  .gitlab-ci.yml
Due: none

ADD Recognition module Spring architecture
  cloudito-rest-api/pom.xml
  cloudito-rest-api/recognition/pom.xml
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/ClouditoRecognitionService.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/ServletInitializer.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/configuration/SwaggerConfigurationReco.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/controllers/RestExceptionController.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/controllers/SwaggerController.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/exceptions/ApiException.java
Due: maven-build, deploy_back

Add python deamon for recognition with opencv The deamon listen requests from the spring service It uses an internal app socket
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/controllers/RecognitionController.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/services/RecognitionService.java
  cloudito-rest-api/recognition/src/main/resources/application.properties
Due: maven-build, deploy_back

UPDATE python deamon & SWAGGER API Now support multi-threading face recognition requests
  cloudito-rest-api/recognition/recognition_deamon/core_deamon.py
  cloudito-rest-api/recognition/recognition_deamon/macron.json
  cloudito-rest-api/recognition/recognition_deamon/sample2.npy
  cloudito-rest-api/recognition/recognition_deamon/tmp
  cloudito-rest-api/recognition/recognition_deamon/toto.npy
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/configuration/SwaggerConfigurationReco.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/controllers/RecognitionController.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/services/RecognitionService.java
Due: maven-build, deploy_back

diagrammes, preparation authentication android
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/AuthenticationService/AuthenticationInterface/AuthenticationRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/AuthenticationService/AuthenticationInterface/AuthenticationRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Credentials.java
  diagrams/Authentification/Diagramme de Séquence.JPG
  diagrams/Authentification/Diagrammes de séquences.mdj
Due: build:develop, test:unit, test:functional, package:develop

Preparation auth via Credentials sur android
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/AuthenticationService/AuthenticationInterface/AuthenticationRetrofitController.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/AuthenticationService/AuthenticationInterface/AuthenticationRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/GeolocationService/GeolocationInterface/GeolocationRetrofitService.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Credentials.java
Due: build:develop, test:unit, test:functional, package:develop

ajout diagrammes
  diagrams/Authentification/Diagrammes de séquences.mdj
  diagrams/Authentification/diag_sequence_MFA_inscription_v2.JPG
  diagrams/Authentification/diag_sequence_MFA_v2.JPG
Due: none

sequence diag
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/ClouditoEncryptionService.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/model/AttributeEncryptor.java
  diagrams/Encryption/SequenceDiagram1.svg
Due: maven-build, deploy_back

Preparation code restApi
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/exceptions/AuthenticationException.java
  cloudito-rest-api/authentication/src/test/java/AuthenticationServiceTest.java
Due: maven-build, deploy_back

UPDATE seq diagram
  cloudito-rest-api/.gitignore
  cloudito-rest-api/recognition/recognition_deamon/__pycache__/recognition.cpython-37.pyc
  cloudito-rest-api/recognition/recognition_deamon/opencv-files/lbpcascade_frontalface.xml
  cloudito-rest-api/recognition/recognition_deamon/recognition.py
  cloudito-rest-api/recognition/recognition_deamon/test-data/test1.jpg
  cloudito-rest-api/recognition/recognition_deamon/test-data/test2.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s1/1.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s1/2.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s1/3.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s1/4.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s1/5.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s2/1.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s2/2.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s2/3.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s2/4.jpg
  cloudito-rest-api/recognition/recognition_deamon/training-data/s2/5.jpg
  diagrams/recognition/recognition_seq_diagram.jpg
  diagrams/recognition/recognition_seq_diagram.png
Due: maven-build, deploy_back

ADD iot directory
  cloudito-iot/init
Due: none

Prep TU Authentication
  cloudito-rest-api/authentication/pom.xml
  cloudito-rest-api/authentication/src/test/java/AuthenticationServiceTest.java
Due: maven-build, deploy_back

Adding an entry point and numpy file compressed output.
  cloudito-iot/init
  cloudito-iot/initFaceRecognition.py
Due: none

diag
  cloudito-rest-api/encryption/pom.xml
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/ClouditoEncryptionService.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/model/AttributeEncryptor.java
  cloudito-rest-api/encryption/src/main/resources/application.properties
  diagrams/Encryption/SequenceDiagram2.svg
  diagrams/all/DeploymentDiagram.svg
  diagrams/all/DeploymentPreProdDiagCloudito.svg
  diagrams/all/DeploymentPreProdDiagClouditoOLD.svg
Due: maven-build, deploy_back

Adding loop which detect something on the picture by changing sensibility and delete useless file.
  cloudito-iot/detect.py
  cloudito-iot/detect_video.py
  cloudito-iot/initFaceRecognition.py
Due: none

fix" illegalstate exception is ambigous"
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/model/AttributeEncryptor.java
  diagrams/all/DeploymentIntDiagCloudito.svg
Due: maven-build, deploy_back

fix" illegalstate exception is ambigous"
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/ClouditoEncryptionService.java
Due: maven-build, deploy_back

fix docker error
  .gitlab-ci.yml
Due: none

TU authentication second factor
  cloudito-rest-api/authentication/pom.xml
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/services/AuthenticationService.java
  cloudito-rest-api/authentication/src/test/java/AuthenticationServiceTest.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/Customer.java
Due: maven-build, deploy_back

Revert "Add 'requests' import for sending faces to the back side and send a request for each face detected. Post target "localhost" temporarily"
  cloudito-iot/initFaceRecognition.py
Due: none

Following previous changes. (Local IntelliJ bug commit)
  cloudito-iot/initFaceRecognition.py
Due: none

TU Second Factor Authentication / EntryPoint Second authentication / Prepare Verification on UUID and Time
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/controllers/AuthenticationController.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/exceptions/AuthenticationException.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/services/AuthenticationService.java
  cloudito-rest-api/authentication/src/test/java/AuthenticationServiceTest.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/AuthStatus.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/Credentials.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/Customer.java
Due: maven-build, deploy_back

Synchro Credentials with backend
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/entities/Credentials.java
Due: build:develop, test:unit, test:functional, package:develop

TU LOGIN PWD / ENTRY POINT LOGIN PWD / SETTINGS UUID TIME
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/controllers/AuthenticationController.java
  cloudito-rest-api/authentication/src/main/java/esipe/fr/authentication/services/AuthenticationService.java
  cloudito-rest-api/authentication/src/test/java/AuthenticationServiceTest.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/AuthStatus.java
  cloudito-rest-api/model/src/main/java/esipe/fr/model/Credentials.java
  cloudito-rest-api/persistence/src/main/java/esipe/fr/repositories/CustomerRepository.java
Due: maven-build, deploy_back

Authentification on Android; basic activity with limit on number of attempts
  cloudito-android/app/build.gradle
  cloudito-android/app/src/main/AndroidManifest.xml
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/AuthentificationFragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/authentification/SecondActivity.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope2/Scope2Fragment.java
  cloudito-android/app/src/main/java/com/ackincolor/cloudito/ui/scope2/Scope2ViewModel.java
  cloudito-android/app/src/main/res/layout/activity_second.xml
  cloudito-android/app/src/main/res/layout/fragment_authentification.xml
  cloudito-android/app/src/main/res/layout/fragment_scope_2.xml
Due: build:develop, test:unit, test:functional, package:develop

Correction test + diagramme de sequence v3
  diagrams/Authentification/Diagrammes de séquences.mdj
Due: none

ajout diagramme deploiment - en retard
  diagrams/Authentification/Diagramme de deploiement  V2.png
  diagrams/Authentification/Diagramme de déploiement.png
Due: none

Revert "ajout diagramme deploiment - en retard"
  diagrams/Authentification/Diagramme de deploiement  V2.png
  diagrams/Authentification/Diagramme de déploiement.png
Due: none

Ajout diagramme deploiment v2 - avec le bon identifiant
  diagrams/Authentification/Diagramme de deploiement_V2.png
Due: none

Diag composants V3 MFA
  diagrams/all/diag_composants_MFA_v3.JPG
Due: none

diag composants MFA V3
  diagrams/Authentification/diag_composants_MFA_v3.JPG
Due: none

test vault
  cloudito-rest-api/encryption/pom.xml
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/ClouditoEncryptionService.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/VaultConnexion.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/controllers/SwaggerController.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/model/AttributeEncryptor.java
  cloudito-rest-api/encryption/src/main/resources/application.properties
  cloudito-rest-api/encryption/src/main/resources/bootstrap.properties
  cloudito-rest-api/encryption/src/test/java/EncryptionTest.java
  cloudito-rest-api/encryption/src/test/java/ParcoursTest.java
  cloudito-rest-api/pom.xml
Due: maven-build, deploy_back

test vault connexion : OK
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/configuration/SwaggerConfigurationCourse.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/controllers/SwaggerController.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/model/AttributeEncryptor.java
  cloudito-rest-api/encryption/src/main/java/esipe/fr/encryption/service/Encryption.java
  cloudito-rest-api/encryption/src/main/resources/application.properties
  cloudito-rest-api/geolocation/pom.xml
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/ClouditoGeolocationService.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/controllers/AccessPointController.java
  cloudito-rest-api/geolocation/src/main/java/esipe/fr/geolocation/services/GeolocationService.java
  cloudito-rest-api/geolocation/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  cloudito-rest-api/geolocation/src/main/resources/application.properties
  cloudito-rest-api/pom.xml
Due: maven-build, deploy_back

fix diag
  diagrams/all/DeploymentDiagram.svg
Due: none

UPDATE TU & SWAGGER API
  cloudito-rest-api/geolocation/src/test/java/GeolocationServiceTest.java
  cloudito-rest-api/recognition/Dockerfile
  cloudito-rest-api/recognition/pom.xml
  cloudito-rest-api/recognition/recognition_daemon/chirac.json
  cloudito-rest-api/recognition/recognition_daemon/convert_face.py
  cloudito-rest-api/recognition/recognition_daemon/core_daemon.py
  cloudito-rest-api/recognition/recognition_daemon/logging.conf
  cloudito-rest-api/recognition/recognition_daemon/macron.json
  cloudito-rest-api/recognition/recognition_daemon/opencv-files/lbpcascade_frontalface.xml
  cloudito-rest-api/recognition/recognition_daemon/recognition.py
  cloudito-rest-api/recognition/recognition_daemon/requirements.txt
  cloudito-rest-api/recognition/recognition_daemon/sample2.npy
  cloudito-rest-api/recognition/recognition_daemon/test-data/test1.jpg
  cloudito-rest-api/recognition/recognition_daemon/test-data/test2.jpg
  cloudito-rest-api/recognition/recognition_daemon/tmp
  cloudito-rest-api/recognition/recognition_daemon/toto.npy
  cloudito-rest-api/recognition/recognition_daemon/training-data/s1/1.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s1/2.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s1/3.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s1/4.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s1/5.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s2/1.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s2/2.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s2/3.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s2/4.jpg
  cloudito-rest-api/recognition/recognition_daemon/training-data/s2/5.jpg
  cloudito-rest-api/recognition/recognition_deamon/chirac.json
  cloudito-rest-api/recognition/recognition_deamon/convert_face.py
  cloudito-rest-api/recognition/recognition_deamon/logging.conf
  cloudito-rest-api/recognition/recognition_deamon/requirements.txt
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/configuration/SwaggerConfigurationReco.java
  cloudito-rest-api/recognition/src/main/java/esipe/fr/recognition/controllers/RecognitionController.java
  cloudito-rest-api/recognition/src/test/java/RecognitionServiceTest.java
  cloudito-rest-api/recognition/start_daemon.sh
  cloudito-rest-api/recognition/start_recognition_api.sh
  cloudito-rest-api/recognition/startall.sh
Due: maven-build, deploy_back

Delete recognition.cpython-37.pyc
  cloudito-rest-api/recognition/recognition_deamon/__pycache__/recognition.cpython-37.pyc
Due: maven-build, deploy_back

rename directory recognition daemon
  cloudito-rest-api/recognition/recognition_daemon/logging.conf
  cloudito-rest-api/recognition/recognition_daemon/requirements.txt
  cloudito-rest-api/recognition/recognition_deamon/chirac.json
  cloudito-rest-api/recognition/recognition_deamon/convert_face.py
  cloudito-rest-api/recognition/recognition_deamon/logging.conf
  cloudito-rest-api/recognition/recognition_deamon/requirements.txt
Due: maven-build, deploy_back

Path conditions:
  maven-build: any of: cloudito-rest-api/**/*
  deploy_back: any of: cloudito-rest-api/**/*
  build:develop: any of: cloudito-android/**/*
  test:unit: any of: cloudito-android/**/*
  test:functional: any of: cloudito-android/**/*
  package:develop: any of: cloudito-android/**/*
